#head{
     text-align: center;
    align-content: center;
}

#h1{
 text-align: center;
    align-content: center;
    font-size: 5em;
    color: aliceblue;
}
#body{
    background-color: #1f3353;
}